@{
    string apodo_usuario = Session["Apodo"].ToString().Trim();
    string tipo_usuario = Session["Tipo_Usuario"].ToString().Trim();
    int usuario_id = Convert.ToInt32(Session["Id"]);

}

<!DOCTYPE html>
<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Administracion</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://latin-net.com.ar/" target="_blank">
                    <img class="logo img-responsive" src="~/Images/logo.png" style="width: auto; height: 50px" alt="LatinNet">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='@Url.Action("Index", "Home", new { id_usuario = usuario_id })'>Sitio</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @apodo_usuario
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Edit", "Usuario", new { id = usuario_id })'>Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Index", "Login")'>Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <br />
        <br />
        
        @*Menu Izquierdo*@
        <div id='cssmenu' class="sidebar">
            <ul>
                <li class='has-sub'>
                    <a href='#'><span>Posts</span></a>
                    <ul>
                        <li id="AllPost"><a href="#"><span>Todos los Posts</span></a></li>
                        <li class='last' id="NewPostMenu"><a href='#'><span>Añadir Nuevo</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'><span>Paginas</span></a>
                    <ul>
                        <li id="AllPages"><a href='#'><span>Todas las Paginas</span></a></li>
                        <li class='last' id="NewPageMenu"><a href='#'><span>Añadir Nueva</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href='#' id="AllComentarios"><span>Comentarios</span></a>
                </li>
                <li>
                    <a href='#'><span>Usuarios</span></a>
                    <ul>
                        <li id="AllUser"><a href='#'><span>Todos los Usuarios</span></a></li>
                        <li class='last' id="NewUserMenu"><a href='#'><span>Añadir Nuevo</span></a></li>
                    </ul>
                </li>
                <li><a href='#'><span>Apariencia</span></a></li>
                <li>
                    <a href='#'><span>Ajustes</span></a>
                    <ul>
                        <li class='last'><a href='#' id="ajustes"><span>Ajustes Generales</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <h4 style="text-indent: 4em">Administración de LatinCMS</h4>
        
        <p style="color: green; text-indent: 4em">@ViewBag.SaveOK</p>
        <p style="color: red; text-indent: 4em">@ViewBag.Error</p>   
       
        @*Todos los post tabla*@
         <div class="container" id="ocultarTablaAllPost">
             <a class="btn btn-primary" id="NewPostBoton" href='#'>Añadir Nuevo</a><br /><br />
           
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Comentarios</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="mostrarAllPostTabla"></tbody>
            </table>
            
        </div>
        
        <div class="container" id="loading" style="display: none"></div>
        <p id="mensajeJsonOk" style="display:none; color:green"></p>
        
        @*New Post*@
        <div class="container" id="mostrarCamposNewPost">
            <fieldset class="login">
                <form action='@Url.Action("NewPost", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Añadir Nuevo Post</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <input type="submit" value="Publicar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>


        @*Edit Post*@
        <div class="container" id="mostrarCamposEditPost">
            <fieldset class="login">
                <form action='@Url.Action("SaveEditPost", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Editar Post</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="tituloEdit" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcionEdit" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <input type="hidden" name="id_post" id="idPostEdit">
                    <div class="control-group">
                        <input type="submit" value="Actualizar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>

        @*Delete Post*@
        <div class="modal fade" id="popupDelete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action='@Url.Action("DeletePost", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirma que quiere eliminar el Post? </h4>
                        </div>
                        <div class="modal-body">
                                <p id="tituloDelete"></p>
                                <input type="hidden" name="id_post" id="idPostDelete">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="submit" value="Borrar" class="btn btn-danger">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        @*Todas las paginas tabla*@
        <div class="container" id="ocultarTablaAllPage">
            <a class="btn btn-primary" id="NewPageBoton" href='#'>Añadir Nuevo</a><br /><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Comentarios</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="mostrarAllPageTabla"></tbody>
            </table>

        </div>

        @*New Page*@
        <div class="container" id="mostrarCamposNewPage">
            <fieldset class="login">
                <form action='@Url.Action("NewPage", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Añadir Nueva Pagina</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <input type="submit" value="Publicar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>

        @*Edit Page*@
        <div class="container" id="mostrarCamposEditPage">
            <fieldset class="login">
                <form action='@Url.Action("SaveEditPage", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Editar Pagina</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="tituloEditPage" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcionEditPage" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <input type="hidden" name="id_page" id="idPageEdit">
                    <div class="control-group">
                        <input type="submit" value="Actualizar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>

        @*Delete Page*@
        <div class="modal fade" id="popupDeletePage">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action='@Url.Action("DeletePage", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirma que quiere eliminar la Pagina? </h4>
                        </div>
                        <div class="modal-body">
                            <p id="tituloDeletePage"></p>
                            <input type="hidden" name="id_post" id="idPageDelete">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="submit" value="Borrar" class="btn btn-danger">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        @*Todos los comentarios tabla*@
        <div class="container" id="ocultarTablaAllComentarios">
            <h2 class="form-signin-heading">Comentarios</h2>
            <a id="TodosComenBoton" href='#'>Todos |</a>
            <a id="PendientesComenBoton" href='#'> Pendientes |</a>
            <a id="AprobadosComenBoton" href='#'> Aprobados</a>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Comentario</th>
                        <th>En respuesta a</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="mostrarAllComentariosTabla"></tbody>
            </table>

        </div>



        @*Todos los Usuarios tabla*@
        <div class="container" id="ocultarTablaAllUser">
            <a class="btn btn-primary" id="NewUserBoton" href='#'>Añadir Nuevo</a><br /><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre Usuario</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Perfil</th>
                        <th>Post</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="mostrarAllUserTabla"></tbody>
            </table>

        </div>

        @*New Usuario*@
        <div class="container" id="mostrarCamposNewUser" style="float: none; width: 30%">
            <fieldset class="login">
                <form action='@Url.Action("NewUser", "Usuario", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Añadir Nuevo Usuario</h2>
                    <div class="control-group">
                        <label class="control-label">Nombre Usuario:</label>
                        <div class="controls">
                            <input type="text" name="apodo" id="apodo" placeholder="Usuario" class="form-control" maxlength="50" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nombre:</label>
                        <div class="controls">
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" maxlength="50" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Apellido:</label>
                        <div class="controls">
                            <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" maxlength="50" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email:</label>
                        <div class="controls">
                            <input type="email" name="email" id="email" placeholder="Email" class="form-control" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Contraseña:</label>
                        <div class="controls">
                            <input type="password" id="password" class="form-control" maxlength="10" required autofocus name="pwd1" onchange="form.pwd2.pattern = this.value;">
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Confirmar Contraseña:</label>
                        <div class="controls">
                            <input type="password" id="password" class="form-control" maxlength="10" required autofocus name="pwd2">
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Perfil:</label>
                        <div class="controls">
                            <select name="rol" class="form-control">
                                <option value="Suscriptor" selected>Suscriptor</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <input type="submit" value="Añadir Nuevo Usuario" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>


        @*Edit Usuario*@
        <div class="container" id="mostrarCamposEditUser" style="float: none; width: 30%">
            <fieldset class="login">
                <form action='@Url.Action("SaveEditUser", "Usuario", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Editar Usuario</h2>
                    <div class="control-group">
                        <label class="control-label">Nombre Usuario:</label>
                        <div class="controls">
                            <input type="text" name="apodo" id="apodoEdit" class="form-control" maxlength="50" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nombre:</label>
                        <div class="controls">
                            <input type="text" name="nombre" id="nombreEdit" class="form-control" maxlength="50" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Apellido:</label>
                        <div class="controls">
                            <input type="text" name="apellido" id="apellidoEdit" class="form-control" maxlength="50" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email:</label>
                        <div class="controls">
                            <input type="email" name="email" id="emailEdit" class="form-control" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Contraseña:</label>
                        <div class="controls">
                            <input type="password" id="passwordEdit" class="form-control" maxlength="10" required autofocus name="pwd1" onchange="form.pwd2.pattern = this.value;">
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Confirmar Contraseña:</label>
                        <div class="controls">
                            <input type="password" id="passwordEdit" class="form-control" maxlength="10" required autofocus name="pwd2">
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Perfil:</label>
                        <div class="controls">
                            <select name="rol" id="rolEdit" class="form-control">
                                <option value="Suscriptor">Suscriptor</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                        <br />
                    </div>
                    <input type="hidden" name="id_user" id="idUserEdit">
                    <div class="control-group">
                        <input type="submit" value="Actualizar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>


        @*AJUSTES*@
        <div class="container" id="mostrarCamposAjustes" style="float: none; width: 30%">
            <fieldset class="login">
                <form action='@Url.Action("SaveAjustes", "Config", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Ajustes Generales</h2>
                    <div class="control-group">
                        <label class="control-label">Título del sitio:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="ajusteTitulo" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción corta:</label>
                        <div class="controls">
                            <input type="text" name="descripcion" id="ajusteDescri" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cantidad de post por pagina:</label>
                        <div class="controls">
                            <input type="number" name="cant" id="ajusteCantPost" class="form-control" maxlength="10" required autofocus>
                        </div>
                        <br />
                    </div>
                    <input type="hidden" name="id_ajuste" id="idAjuste">
                    <div class="control-group">
                        <input type="submit" value="Guardar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>






</div>


    <script type="text/javascript">
    $(document).ready(function () {

        //POST
        $("#AllPost").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mensajeJsonOk").hide();
            $('#loading').show();

            $.post('@Url.Action("AllPost", "Post")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#ocultarTablaAllPost").show();

                    for (var item in result) {

                        var numeros = result[item].Post.Fecha.replace(/\D/g, '');
                        var fecha = new Date(parseInt(numeros));

                        $("#mostrarAllPostTabla").append("<tr><td style='text-align:justify'>" + result[item].Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Post.Usuario.Apodo + "</td><td style='text-align:center'>"
                                                        + result[item].Contador + "</td><td style='text-align:center'>"
                                                        + fecha.toLocaleDateString() + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Editar' class='EditPostBoton' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-pencil'></i>  </a>"
                                                        + "<a href='#' title='Eliminar' class='DeletePostBoton' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-times'></i>  </a>"
                                                        + "<a href='" + result[item].URLVer + "' target='_blank' title='Ver' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-file-o'></i>  </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#mostrarAllPostTabla").on("click", ".EditPostBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("EditPost", "Post")', { id_post: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposEditPage").hide();
                    $("#mostrarCamposEditEdit").hide();
                    $("#mostrarCamposAjustes").hide();
                    $("#mostrarCamposEditPost").show();

                    $("#tituloEdit").val(result.Titulo);
                    $("#descripcionEdit").val(result.Descripcion);
                    $("#idPostEdit").val(result.Id);

                }).fail(function (result) {
                    alert("No se pudo editar el post Id: " + $(this).attr("data-id"));
                });

        });


        $("#mostrarAllPostTabla").on("click", ".DeletePostBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("DeletePopUpPost", "Post")', { id_post: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposEditPost").hide();
                    $("#mostrarCamposEditPage").hide();
                    $("#mostrarCamposEditEdit").hide();
                    $("#mostrarCamposAjustes").hide();
                    $("#mostrarPopUpDelete").show();

                    $('#popupDelete').modal('show');

                    $("#tituloDelete").text(result.Titulo);
                    $("#idPostDelete").val(result.Id);

                }).fail(function (result) {
                    alert("No se pudo editar el post Id: " + $(this).attr("data-id"));
                });

        });

        $("#NewPostMenu").on("click", function (e) {
            e.preventDefault();

            $("#mensajeJsonOk").hide();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllUser").hide();
            $("#ocultarTablaAllComentarios").hide();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposEditPage").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mostrarCamposNewPost").show();
        })

        $("#NewPostBoton").on("click", function (e) {
            e.preventDefault();

            $("#mensajeJsonOk").hide();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllUser").hide();
            $("#ocultarTablaAllComentarios").hide();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposEditPage").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mostrarCamposNewPost").show();
        })



        //Page
        $("#AllPages").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#ocultarTablaAllComentarios").hide();
            $('#loading').show();

            $.post('@Url.Action("AllPage", "Post")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#mostrarAllPageTabla").empty();
                    $("#mostrarAllUserTabla").empty();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllPage").show();

                    for (var item in result) {

                        var numeros = result[item].Post.Fecha.replace(/\D/g, '');
                        var fecha = new Date(parseInt(numeros));

                        $("#mostrarAllPageTabla").append("<tr><td style='text-align:justify'>" + result[item].Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Post.Usuario.Apodo + "</td><td style='text-align:center'>"
                                                        + result[item].Contador + "</td><td style='text-align:center'>"
                                                        + fecha.toLocaleDateString() + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Editar' class='EditPageBoton' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-pencil'></i>  </a>"
                                                        + "<a href='#' title='Eliminar' class='DeletePageBoton' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-times'></i>  </a>"
                                                        + "<a href='" + result[item].URLVer + "' target='_blank' title='Ver' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-file-o'></i>  </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#mostrarAllPageTabla").on("click", ".EditPageBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("EditPage", "Post")', { id_post: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposNewUser").hide();
                    $("#mostrarCamposEditPost").hide();
                    $("#mostrarCamposEditEdit").hide();
                    $("#mostrarCamposAjustes").hide();
                    $("#mostrarCamposEditPage").show();

                    $("#tituloEditPage").val(result.Titulo);
                    $("#descripcionEditPage").val(result.Descripcion);
                    $("#idPageEdit").val(result.Id);

                }).fail(function (result) {
                    alert("No se pudo editar la pagina Id: " + $(this).attr("data-id"));
                });

        });


        $("#mostrarAllPageTabla").on("click", ".DeletePageBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("DeletePopUpPage", "Post")', { id_post: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposNewUser").hide();
                    $("#mostrarCamposEditPost").hide();
                    $("#mostrarCamposEditPage").hide();
                    $("#mostrarCamposEditUser").hide();
                    $("#mostrarCamposAjustes").hide();
                    $("#mostrarPopUpDelete").hide();
                    $("#mostrarPopUpDeletePage").show();

                    $('#popupDeletePage').modal('show');

                    $("#tituloDeletePage").text(result.Titulo);
                    $("#idPageDelete").val(result.Id);

                }).fail(function (result) {
                    alert("No se pudo editar la pagina Id: " + $(this).attr("data-id"));
                });

        });

        $("#NewPageMenu").on("click", function (e) {
            e.preventDefault();

            $("#mensajeJsonOk").hide();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllUser").hide();
            $("#ocultarTablaAllComentarios").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposEditPage").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mostrarCamposNewPage").show();
        })

        $("#NewPageBoton").on("click", function (e) {
            e.preventDefault();

            $("#mensajeJsonOk").hide();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllUser").hide();
            $("#ocultarTablaAllComentarios").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposEditPage").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mostrarCamposNewPage").show();
        })



        //COMENTARIOS
        $("#AllComentarios").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $('#loading').show();

            $.post('@Url.Action("AllComentarios", "Comentario")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#mostrarAllPageTabla").empty();
                    $("#mostrarAllUserTabla").empty();
                    $("#mostrarAllComentariosTabla").empty();
                    $("#mostrarCamposEditPost").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").show();

                    for (var item in result) {

                        $("#mostrarAllComentariosTabla").append("<tr><td style='text-align:center'><a href='" + result[item].URL + "' title='Ver Perfil' target='_blank' >" + result[item].Comentario.Usuario.Apodo + "</a></td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Descripcion + "</td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Comentario.Estadocomen.Descripcion + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Aprobar' class='AprobarComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-check'></i>  </a>"
                                                        + "<a href='#' title='Rechazar' class='DeleteComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-times'></i>   </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#mostrarAllComentariosTabla").on("click", ".AprobarComenBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            if (confirm("Realmente quiere aprobar el comentario?") == true) {

                $.post('@Url.Action("AprobarComen", "Comentario")', { id_comen: $(this).attr("data-id") })
                    .done(function (result) {

                        $('#loading').hide();
                        $("#mensajeJsonOk").hide();
                        $("#ocultarTablaAllPage").hide();
                        $("#ocultarTablaAllPost").hide();
                        $("#ocultarTablaAllComentarios").hide();
                        $("#mostrarCamposNewPage").hide();
                        $("#mostrarCamposNewPost").hide();
                        $("#mostrarCamposNewUser").hide();
                        $("#mostrarCamposEditPage").hide();
                        $("#mostrarCamposEditPost").hide();
                        $("#mostrarCamposEditUser").hide();
                        $("#mostrarCamposAjustes").hide();

                        $("#mensajeJsonOk").show();
                        $("#mensajeJsonOk").text(result);

                    }).fail(function (result) {
                        alert("No se pudo aprobar el comentario Id: " + $(this).attr("data-id"));
                    });

            }

            $('#loading').hide();


        });


        $("#mostrarAllComentariosTabla").on("click", ".DeleteComenBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            if (confirm("Realmente quiere eliminar el comentario?") == true) {

                $.post('@Url.Action("EliminarComen", "Comentario")', { id_comen: $(this).attr("data-id") })
                    .done(function (result) {

                        $('#loading').hide();
                        $("#mensajeJsonOk").hide();
                        $("#ocultarTablaAllPage").hide();
                        $("#ocultarTablaAllPost").hide();
                        $("#mostrarCamposNewPage").hide();
                        $("#mostrarCamposNewPost").hide();
                        $("#mostrarCamposNewUser").hide();
                        $("#mostrarCamposEditPage").hide();
                        $("#mostrarCamposEditPost").hide();
                        $("#mostrarCamposEditEdit").hide();
                        $("#mostrarCamposAjustes").hide();
                        $("#ocultarTablaAllComentarios").hide();

                        $("#mensajeJsonOk").show();
                        $("#mensajeJsonOk").text(result);

                    }).fail(function (result) {
                        alert("No se pudo eliminar el comentario Id: " + $(this).attr("data-id"));
                    });

            }

            $('#loading').hide();


        });

        
        $("#TodosComenBoton").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $('#loading').show();

            $.post('@Url.Action("AllComentarios", "Comentario")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#mostrarAllPageTabla").empty();
                    $("#mostrarAllComentariosTabla").empty();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").show();

                    for (var item in result) {

                        $("#mostrarAllComentariosTabla").append("<tr><td style='text-align:center'><a href='" + result[item].URL + "' title='Ver Perfil' target='_blank' >" + result[item].Comentario.Usuario.Apodo + "</a></td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Descripcion + "</td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Comentario.Estadocomen.Descripcion + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Aprobar' class='AprobarComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-check'></i>  </a>"
                                                        + "<a href='#' title='Rechazar' class='DeleteComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-times'></i>   </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#PendientesComenBoton").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $('#loading').show();

            $.post('@Url.Action("AllComentariosPendientes", "Comentario")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#mostrarAllPageTabla").empty();
                    $("#mostrarAllComentariosTabla").empty();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").show();

                    for (var item in result) {

                        $("#mostrarAllComentariosTabla").append("<tr><td style='text-align:center'><a href='" + result[item].URL + "' title='Ver Perfil' target='_blank' >" + result[item].Comentario.Usuario.Apodo + "</a></td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Descripcion + "</td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Comentario.Estadocomen.Descripcion + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Aprobar' class='AprobarComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-check'></i>  </a>"
                                                        + "<a href='#' title='Rechazar' class='DeleteComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-times'></i>   </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#AprobadosComenBoton").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposAjustes").hide();
            $('#loading').show();

            $.post('@Url.Action("AllComentariosAprobados", "Comentario")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#mostrarAllPageTabla").empty();
                    $("#mostrarAllComentariosTabla").empty();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllComentarios").show();

                    for (var item in result) {

                        $("#mostrarAllComentariosTabla").append("<tr><td style='text-align:center'><a href='" + result[item].URL + "' title='Ver Perfil' target='_blank' >" + result[item].Comentario.Usuario.Apodo + "</a></td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Descripcion + "</td><td style='text-align:justify'>"
                                                        + result[item].Comentario.Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Comentario.Estadocomen.Descripcion + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Rechazar' class='DeleteComenBoton' " + "data-id='" + result[item].Comentario.Id + "'><i class='fa fa-times'></i>   </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })



        //USUARIO
        $("#AllUser").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewUser").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mensajeJsonOk").hide();
            $('#loading').show();

            $.post('@Url.Action("AllUser", "Usuario")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllUserTabla").empty();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#ocultarTablaAllUser").show();

                    for (var item in result) {

                        $("#mostrarAllUserTabla").append("<tr><td style='text-align:left'>" + result[item].Usuario.Apodo + "</td><td style='text-align:left'>"
                                                        + result[item].Usuario.Nombre + " " + result[item].Usuario.Apellido + "</td><td style='text-align:left'>"
                                                        + result[item].Usuario.Email + "</td><td style='text-align:left'>"
                                                        + result[item].Usuario.Rol.Descripcion + "</td><td style='text-align:center'>"
                                                        + result[item].Contador + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Editar' class='EditUsertBoton' " + "data-id='" + result[item].Usuario.Id + "'><i class='fa fa-pencil'></i>  </a>"
                                                        + "<a href='#' title='Eliminar' class='DeleteUserBoton' " + "data-id='" + result[item].Usuario.Id + "'><i class='fa fa-times'></i>  </a></td></tr>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#mostrarAllUserTabla").on("click", ".EditUsertBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("EditUser", "Usuario")', { id_user: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposNewUser").hide();
                    $("#mostrarCamposEditPage").hide();
                    $("#mostrarCamposEditPost").hide();
                    $("#mostrarCamposAjustes").hide();
                    $("#mostrarCamposEditUser").show();

                    $("#idUserEdit").val(result.Id);
                    $("#apodoEdit").val(result.Apodo);
                    $("#nombreEdit").val(result.Nombre);
                    $("#apellidoEdit").val(result.Apellido);
                    $("#emailEdit").val(result.Email);
                    $("#passwordEdit").val(result.Password);
                    $("#rolEdit").val(result.Rol.Descripcion);

                }).fail(function (result) {
                    alert("No se pudo editar el usuario Id: " + $(this).attr("data-id"));
                });

        });


        $("#mostrarAllUserTabla").on("click", ".DeleteUserBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            if (confirm("Realmente quiere eliminar al usuario?") == true) {

                $.post('@Url.Action("DeleteUser", "Usuario")', { id_user: $(this).attr("data-id") })
                    .done(function (result) {

                        $('#loading').hide();
                        $("#mensajeJsonOk").hide();
                        $("#ocultarTablaAllPage").hide();
                        $("#ocultarTablaAllPost").hide();
                        $("#ocultarTablaAllUser").hide();
                        $("#ocultarTablaAllComentarios").hide();
                        $("#mostrarCamposNewPage").hide();
                        $("#mostrarCamposNewPost").hide();
                        $("#mostrarCamposNewUser").hide();
                        $("#mostrarCamposEditPage").hide();
                        $("#mostrarCamposEditPost").hide();
                        $("#mostrarCamposEditUser").hide();
                        $("#mostrarCamposAjustes").hide();

                        $("#mensajeJsonOk").show();
                        $("#mensajeJsonOk").text(result);

                    }).fail(function (result) {
                        alert("No se pudo eliminar al usuairo Id: " + $(this).attr("data-id"));
                    });

            }

            $('#loading').hide();

        });

        $("#NewUserMenu").on("click", function (e) {
            e.preventDefault();

            $("#mensajeJsonOk").hide();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllUser").hide();
            $("#ocultarTablaAllComentarios").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposEditPage").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mostrarCamposNewUser").show();

        })

        $("#NewUserBoton").on("click", function (e) {
            e.preventDefault();

            $("#mensajeJsonOk").hide();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllUser").hide();
            $("#ocultarTablaAllComentarios").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposEditPage").hide();
            $("#mostrarCamposEditUser").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposAjustes").hide();
            $("#mostrarCamposNewUser").show();

        })



        //AJUSTES
        $("#ajustes").on("click", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("EditAjustes", "Config")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mensajeJsonOk").hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#ocultarTablaAllUser").hide();
                    $("#ocultarTablaAllComentarios").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposNewUser").hide();
                    $("#mostrarCamposEditPage").hide();
                    $("#mostrarCamposEditPost").hide();
                    $("#mostrarCamposEditUser").hide();
                    $("#mostrarCamposAjustes").show();

                    $("#idAjuste").val(result.Id);
                    $("#ajusteTitulo").val(result.Titulo);
                    $("#ajusteDescri").val(result.Descripcion);
                    $("#ajusteCantPost").val(result.CantPost);

                }).fail(function (result) {
                    alert("No se pudo editar el ajuste del sitio.");
                });

        });





       

    });
    </script>

    </body>
</html>