@{
    string apodo_usuario = Session["Apodo"].ToString().Trim();
    string tipo_usuario = Session["Tipo_Usuario"].ToString().Trim();
    int usuario_id = Convert.ToInt32(Session["Id"]);

}

<!DOCTYPE html>
<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Administracion</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://latin-net.com.ar/" target="_blank">
                    <img class="logo img-responsive" src="~/Images/logo.png" style="width: auto; height: 50px" alt="LatinNet">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='@Url.Action("Index", "Home", new { id_usuario = usuario_id })'>Sitio</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @apodo_usuario
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Edit", "Usuario", new { id = usuario_id })'>Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Index", "Login")'>Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <br />
        <br />
        
        @*Menu Izquierdo*@
        <div id='cssmenu' class="sidebar">
            <ul>
                <li class='has-sub'>
                    <a href='#'><span>Posts</span></a>
                    <ul>
                        <li id="AllPost"><a href="#"><span>Todos los Posts</span></a></li>
                        <li class='last' id="NewPostMenu"><a href='#'><span>Añadir Nuevo</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'><span>Paginas</span></a>
                    <ul>
                        <li id="AllPages"><a href='#'><span>Todas las Paginas</span></a></li>
                        <li class='last' id="NewPageMenu"><a href='#'><span>Añadir Nueva</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'><span>Usuarios</span></a>
                    <ul>
                        <li><a href='/LatinCMS/listUsers.html'><span>Todos los Usuarios</span></a></li>
                        <li class='last'><a href='/LatinCMS/newUser.html'><span>Añadir Nuevo</span></a></li>
                    </ul>
                </li>
                <li><a href='#'><span>Apariencia</span></a></li>
                <li>
                    <a href='#'><span>Ajustes</span></a>
                    <ul>
                        <li class='last'><a href='/LatinCMS/ajustes.html'><span>Ajustes Generales</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <h4 style="text-indent: 4em">Administración de LatinCMS</h4>
        
        <p style="color: green; text-indent: 4em">@ViewBag.SaveOK</p>
        <p style="color: red; text-indent: 4em">@ViewBag.Error</p>   
       
        @*Todos los post tabla*@
         <div class="container" id="ocultarTablaAllPost">
             <a class="btn btn-primary" id="NewPostBoton" href='#'>Añadir Nuevo</a><br /><br />
           
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Comentarios</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="mostrarAllPostTabla"></tbody>
            </table>
            
        </div>
        
        <div class="container" id="loading" style="display: none;"></div>
        
        @*New Post*@
        <div class="container" id="mostrarCamposNewPost">
            <fieldset class="login">
                <form action='@Url.Action("NewPost", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Añadir Nuevo Post</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <input type="submit" value="Publicar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>


        @*Edit Post*@
        <div class="container" id="mostrarCamposEditPost">
            <fieldset class="login">
                <form action='@Url.Action("SaveEditPost", "Post")' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Editar Post</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="tituloEdit" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcionEdit" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <input type="hidden" name="id_post" id="idPostEdit">
                    <input type="hidden" name="id_usuario" id="idUsuarioPostEdit">
                    <div class="control-group">
                        <input type="submit" value="Actualizar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>

        @*Delete Post*@
        <div class="modal fade" id="popupDelete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action='@Url.Action("DeletePost", "Post")' method="POST" id="formulario" class="form-signin">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirma que quiere eliminar el Post? </h4>
                        </div>
                        <div class="modal-body">
                                <p id="tituloDelete"></p>
                                <input type="hidden" name="id_post" id="idPostDelete">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="submit" value="Borrar" class="btn btn-danger">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        @*Todas las paginas tabla*@
        <div class="container" id="ocultarTablaAllPage">
            <a class="btn btn-primary" id="NewPageBoton" href='#'>Añadir Nuevo</a><br /><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Comentarios</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="mostrarAllPageTabla"></tbody>
            </table>

        </div>

        @*New Page*@
        <div class="container" id="mostrarCamposNewPage">
            <fieldset class="login">
                <form action='@Url.Action("NewPage", "Post", new { id_usuario = usuario_id })' method="POST" id="formulario" class="form-signin">
                    <h2 class="form-signin-heading">Añadir Nueva Pagina</h2>
                    <div class="control-group">
                        <label class="control-label">Título:</label>
                        <div class="controls">
                            <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="form-control" maxlength="100" required autofocus>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <label class="control-label">Descripción:</label>
                        <div class="controls">
                            <textarea type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" rows="10" maxlength="700" required autofocus></textarea>
                        </div>
                        <br />
                    </div>
                    <div class="control-group">
                        <input type="submit" value="Publicar" class="btn btn-lg btn-primary">
                    </div>
                </form>
            </fieldset>
        </div>









</div>


    <script type="text/javascript">
    $(document).ready(function () {

        $("#AllPost").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposNewPost").hide();
            $('#loading').show();

            $.post('@Url.Action("AllPost", "Post")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllPostTabla").empty();
                    $("#ocultarTablaAllPost").show();

                    for (var item in result) {

                        var numeros = result[item].Post.Fecha.replace(/\D/g, '');
                        var fecha = new Date(parseInt(numeros));

                        $("#mostrarAllPostTabla").append("<tr><td style='text-align:justify'>" + result[item].Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Post.Usuario.Apodo + "</td><td style='text-align:center'>"
                                                        + result[item].Contador + "</td><td style='text-align:center'>"
                                                        + fecha.toLocaleDateString() + "</td><td style='text-align:center'>"
                                                        + "<a href='#' title='Editar' class='EditPostBoton' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-pencil'></i>  </a>"
                                                        + "<a href='#' title='Eliminar' class='DeletePostBoton' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-times'></i>  </a>"
                                                        + "<a href='" + result[item].URLVer + "' target='_blank' title='Ver' " + "data-id='" + result[item].Post.Id + "'><i class='fa fa-file-o'></i>  </a></td>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })


        $("#mostrarAllPostTabla").on("click", ".EditPostBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("EditPost", "Post")', { id_post: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposEditPost").show();

                    $("#tituloEdit").val(result.Titulo);
                    $("#descripcionEdit").val(result.Descripcion);
                    $("#idPostEdit").val(result.Id);
                    $("#idUsuarioPostEdit").val(result.Usuario.Id);

                }).fail(function (result) {
                    alert("No se pudo editar el post Id: " + $(this).attr("data-id"));
                });

        });


        $("#mostrarAllPostTabla").on("click", ".DeletePostBoton", function (e) {
            e.preventDefault();
            $('#loading').show();

            $.post('@Url.Action("DeletePopUpPost", "Post")', { id_post: $(this).attr("data-id") })
                .done(function (result) {

                    $('#loading').hide();
                    $("#ocultarTablaAllPage").hide();
                    $("#ocultarTablaAllPost").hide();
                    $("#mostrarCamposNewPage").hide();
                    $("#mostrarCamposNewPost").hide();
                    $("#mostrarCamposEditPost").hide();
                    $("#mostrarPopUpDelete").show();

                    $('#popupDelete').modal('show');

                    $("#tituloDelete").text(result.Titulo);
                    $("#idPostDelete").val(result.Id);

                }).fail(function (result) {
                    alert("No se pudo editar el post Id: " + $(this).attr("data-id"));
                });

        });

        $("#NewPostMenu").on("click", function (e) {
            e.preventDefault();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposNewPost").show();
        })

        $("#NewPostBoton").on("click", function (e) {
            e.preventDefault();
            $("#ocultarTablaAllPage").hide();
            $("#ocultarTablaAllPost").hide();
            $("#mostrarCamposNewPage").hide();
            $("#mostrarCamposEditPost").hide();
            $("#mostrarCamposNewPost").show();
        })



        

        $("#AllPages").on("click", function (e) {
            e.preventDefault();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewPage").hide();
            $('#loading').show();

            $.post('@Url.Action("AllPages", "Post")')
                .done(function (result) {

                    $('#loading').hide();
                    $("#mostrarAllPageTabla").empty();
                    $("#ocultarTablaAllPage").show();

                    for (var item in result) {

                        var numeros = result[item].Post.Fecha.replace(/\D/g, '');
                        var fecha = new Date(parseInt(numeros));

                        $("#mostrarAllPageTabla").append("<tr><td style='text-align:justify'>" + result[item].Post.Titulo + "</td><td style='text-align:center'>"
                                                        + result[item].Post.Usuario.Apodo + "</td><td style='text-align:center'>"
                                                        + result[item].Contador + "</td><td style='text-align:center'>"
                                                        + fecha.toLocaleDateString() + "</td><td style='text-align:center'>"
                                                        + "<a href='/LatinCMS/editPost.html' title='Editar'><i class='fa fa-pencil'></i>  </a>"
                                                        + "<a href='#'><i class='fa fa-times' title='Eliminar'></i>  </a>"
                                                        + "<a href='/LatinCMS/post.html' title='Ver'><i class='fa fa-file-o'></i>  </a></td>"
                                                        );
                    }

                }).fail(function (result) {
                    $("errorJson").alert(result.errMsg);
                });
        })



        $("#NewPageMenu").on("click", function (e) {
            e.preventDefault();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewPage").show();
        })

        $("#NewPageBoton").on("click", function (e) {
            e.preventDefault();
            $("#ocultarTablaAllPost").hide();
            $("#ocultarTablaAllPage").hide();
            $("#mostrarCamposNewPost").hide();
            $("#mostrarCamposNewPage").show();
        })




    });
    </script>

    </body>
</html>