@{
    string apodo_usuario = Session["Apodo"].ToString().Trim();
    string tipo_usuario = Session["Tipo_Usuario"].ToString().Trim();
    int id_usuario = Convert.ToInt32(Session["Id"]);
    string titulo_home = Session["Titulo_Home"].ToString().Trim();
    string descripcion_home = Session["Descripcion_Home"].ToString().Trim();
    int cant_post = Convert.ToInt32(Session["Cant_Post"]);
    
    @model IList<LatinCMS.Models.Post>
    
}

<!DOCTYPE html>
<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Home</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/themes/default/easyui.css">
    <link rel="stylesheet" href="~/Content/themes/icon.css">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min-1.4.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://latin-net.com.ar/" target="_blank">
                    <img class="logo img-responsive" src="~/Images/logo.png" style="width: auto; height: 50px" alt="LatinNet">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='#'></a>@tipo_usuario</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @apodo_usuario
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Edit", "Usuario", new { id = id_usuario })'>Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Index", "Login")'>Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <br />
        
        <h1 id="titulo-home">@titulo_home</h1>
        <h4 id="descripcion-home">@descripcion_home</h4>

        <p id="errorJson" style="color: red"></p>

        <div style="padding:5px">
            <ul id="meses">
                <li>
                    <span>2015</span>
                    <ul>
                        <li>
                            <span data-mes="1" class="mostrar"><a class="mesColor">Enero</a></span>
                            <ul id="titulos1"></ul>
                        </li>

                        <li>
                            <span data-mes="2" class="mostrar"><a class="mesColor">Febrero</a></span>
                            <ul id="titulos2"></ul>
                        </li>

                        <li>
                            <span data-mes="3" class="mostrar"><a class="mesColor">Marzo</a></span>
                            <ul id="titulos3"></ul>
                        </li>

                        <li>
                            <span data-mes="4" class="mostrar"><a class="mesColor">Abril</a></span>
                            <ul id="titulos4"></ul>
                        </li>

                        <li>
                            <span data-mes="5" class="mostrar"><a class="mesColor">Mayo</a></span>
                            <ul id="titulos5"></ul>
                        </li>

                        <li>
                            <span data-mes="6" class="mostrar"><a class="mesColor">Junio</a></span>
                            <ul id="titulos6"></ul>
                        </li>

                        <li>
                            <span data-mes="7" class="mostrar"><a class="mesColor">Julio</a></span>
                            <ul id="titulos7"></ul>
                        </li>

                        <li>
                            <span data-mes="8" class="mostrar"><a class="mesColor">Agosto</a></span>
                            <ul id="titulos8"></ul>
                        </li>

                        <li>
                            <span data-mes="9" class="mostrar"><a class="mesColor">Septiembre</a></span>
                            <ul id="titulos9"></ul>
                        </li>

                        <li>
                            <span data-mes="10" class="mostrar"><a class="mesColor">Octubre</a></span>
                            <ul id="titulos10"></ul>
                        </li>

                        <li>
                            <span data-mes="11" class="mostrar"><a class="mesColor">Noviembre</a></span>
                            <ul id="titulos11"></ul>
                        </li>

                        <li>
                            <span data-mes="12" class="mostrar"><a class="mesColor">Diciembre</a></span>
                            <ul id="titulos12"></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--TODO: Traerme todos los POST y hacerlo general para todos
               usar la configuracion para saber cuantos post por pagina!-->
        <p style="color: green">@ViewBag.Save_Comen_Ok</p>
        
            @foreach (var post in Model)
            {
                <div class="post">
                    <h1 class="titulo-post"><a href='@Url.Action("IrAPost", "Post", new { id = @post.Id, titulo = @post.Titulo, descripcion = @post.Descripcion })'>@post.Titulo</a></h1>
                    <p class="descripcion-post">@post.Descripcion</p>
                    <h5 class="fecha-post">@post.Fecha</h5>
                </div>
                <br />
            }


    <footer>
        <div id="lastrow" class="row">
            <div class="e-banner-serverpoint text-center">
                <hr>
                <a href="http://www.latin-net.com.ar/" rel="external" target="_blank"></a>
                <small>Latin CMS</small>
            </div>
        </div>
    </footer>

    </div>

    <script type="text/javascript">
    $(document).ready(function(){

        $("#meses").on("click", ".mostrar", function(e){
            e.preventDefault();

            $.post('@Url.Action("GetTitulosByMesArbol", "Home")', {  mes: $(this).attr("data-mes"), tipo_post_id: 1})
                .done(function (result) {

                    //Borro la informacion anterior
                    for (var i = 1; i <= 12; i++) {
                        $("#titulos" + i).empty();
                    }

                    //if result is numeric then VACIO
                    if (!isNaN(result)) {
                        $("#titulos" + result).append("<li class='tituloPostColor'><span>Vacio</span></li>");
                    } else {
                        for (var titulo in result) {
                            //TODO: Agregar a href con id del post IrAPost
                            var numeros = result[titulo].Post.Fecha.replace(/\D/g, '');
                            var fecha = new Date(parseInt(numeros));
                            $("#titulos" + (fecha.getMonth() + 1)).append("<li><span>" + "<a href='" + result[titulo].URL + "' class='tituloPostColor'>" + result[titulo].Post.Titulo + "</a></span></li>");
                        }
                    }

                }).fail(function(result){
                    $("errorJson").alert(result.errMsg);
                });
            })

        })
    </script>

</body>
</html>