@{
    string apodo_usuario = Session["Apodo"].ToString().Trim();
    string tipo_usuario = Session["Tipo_Usuario"].ToString().Trim();
    int id_usuario = Convert.ToInt32(Session["Id"]);
    string titulo_home = Session["Titulo_Home"].ToString().Trim();
    string descripcion_home = Session["Descripcion_Home"].ToString().Trim();
    int cant_post = Convert.ToInt32(Session["Cant_Post"]);
    
    @model IList<LatinCMS.Models.Post>
    
}

<!DOCTYPE html>
<html>
<head lang="es-ar">
    <meta charset="UTF-8">
    <title>Latin CMS - Home</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/themes/default/easyui.css">
    <link rel="stylesheet" href="~/Content/themes/icon.css">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min-1.4.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://latin-net.com.ar/" target="_blank">
                    <img class="logo img-responsive" src="~/Images/logo.png" style="width: auto; height: 50px" alt="LatinNet">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='#'></a>@tipo_usuario</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @apodo_usuario
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Edit", "Usuario", new { id = id_usuario })'>Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" tabindex="-1" href='@Url.Action("Index", "Login")'>Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <br />
        
        <h1 id="titulo-home">@titulo_home</h1>
        <h4 id="descripcion-home">@descripcion_home</h4>

        <div class="easyui-panel" style="padding:5px">
            <ul class="easyui-tree">
                <li>
                    <span>2015</span>
                        <ul>
                            <li data-options="state:'closed'">
                                <span>Mayo</span>
                                <ul>
                                    <li><span><a href="/LatinCMS/post.html">Titulo del Post</a></span></li>
                                    <li><span><a href="/LatinCMS/post.html">Titulo del Post</a></span></li>
                                    <li><span><a href="/LatinCMS/post.html">Titulo del Post</a></span></li>
                                </ul>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>

        <!--TODO: Traerme todos los POST y hacerlo general para todos
               usar la configuracion para saber cuantos post por pagina!-->

        <div class="post">
            @foreach (var post in Model)
            {
                <h1 class="titulo-post"><a href='@Url.Action("IrAPost", "Post", new { id = @post.Id, titulo = @post.Titulo, descripcion = @post.Descripcion })'>@post.Titulo</a></h1>
                <p class="descripcion-post">@post.Descripcion</p>
                <h5 class="fecha-post">@post.Fecha</h5>
            }
        </div>


    <footer>
        <div id="lastrow" class="row">
            <div class="e-banner-serverpoint text-center">
                <hr>
                <a href="http://www.latin-net.com.ar/" rel="external" target="_blank"></a>
                <small>Latin CMS</small>
            </div>
        </div>
    </footer>

    </div>

    <script language="javascript" type="text/javascript">
        var today = new Date()
        var year = today.getFullYear()
        document.write(year)
    </script>

</body>
</html>